/* .bg {
    
    background: url("/static/dashboard/images/backgroundfinal.png") 50% 0 no-repeat fixed;
    height: 100vh;
    background-size:  cover;

} */

/* body {
    margin: 0;
    background-color:#F7C6D1;
    height:100vh;
    text-align:left;
    
  } */


/* .banner {
    height: 100vh;
    background-color: #F7C6D1;
} */

/* img{
    object-fit: cover;
    width: 100%;
    height: 100%;
} */









