@font-face {
  src: url(../fonts/Akira\ Expanded\ Demo.otf);
  font-family: Akira;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 25px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #008762;
  border-radius: 25px;
}

:root {
  --banner-bg-color: #f7c6d1;
  --dark-text-color: #111;
  --light-text-color: #fff;
  --c-dark-pink-color: #ff8aa4;
  --c-light-pink-color: #f7c6d1;
  --hover-pink-color: #f2d9d1;
  --c-dark-green-color: #008762;
  --c-light-green-color: #c0e8dd;
  --c-light-gray-color: #d3d5ea;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Bebas Neue"; */
}

body {
  font-family: "Stretch Pro";
  font-weight: 300;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .home {
  position: absolute;
  width: 100%;
  z-index: 10;
} */

/*  <!--------------------------------- START HEADER (BANNER)--------------------------------------------> */
header {
  /* background: linear-gradient(
      0deg,
      rgba(247, 198, 209, 0.17),
      rgba(247, 198, 209, 0.17)
    ),
    url(banner1.png); */
  background: linear-gradient(
      0deg,
      rgba(247, 198, 209, 0.17),
      rgba(247, 198, 209, 0.17)
    ),
    url(../static/home-static/banner.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.banner-text h1 {
  font-family: "Stretch Pro";
  text-transform: uppercase;
  line-height: 0.9em;
  font-size: 7vw;
  color: var(--light-text-color);
}

.first-line {
  font-size: 7.5vw !important;
}

.third-line {
  font-size: 5vw !important;
}

.button button:not(.btn-outline-light) {
  border-color: var(--light-text-color) !important;
  border-width: 0.6rem;
  padding: 0;
}

.button button:not(.btn-outline-light):hover,
.button button:not(.btn-outline-light):hover svg path {
  background-color: var(--light-text-color) !important;
  fill: var(--c-dark-pink-color) !important;
}
/*  <!--------------------------------- END HEADER (BANNER) --------------------------------------------> */

/*  <!--------------------------------- START NAVBAR --------------------------------------------> */
.navbar-heading {
  text-transform: uppercase;
}

.navbar .offcanvas {
  width: 250px;
}

.offcanvas li:hover {
  background-color: var(--hover-pink-color);
  border-radius: 45px !important;
  align-self: center;
  width: 150px;
}

.marginy {
  margin-top: 450px;
}

.close-button {
  width: 45px;
  align-self: center;
}

.navbar-main {
  text-transform: uppercase;
  margin-top: 9em !important;
  padding-left: 6em !important;
  padding-right: 6em !important;
  position: absolute;
  left: 0;
  right: 0;
}

.navbar-brand {
  font-family: "Stretch Pro";
  text-transform: uppercase;
  font-size: 1.5em !important;
  color: var(--light-text-color) !important;
}

.navbar-nav .nav-item a {
  color: var(--c-dark-green-color) !important;
  font-family: "Stretch Pro" !important;
  text-transform: lowercase;
}

.badge {
  font-family: "Manrope" !important;
}

.dropdown-menu {
  position: absolute !important;
  border-width: 0 !important;
}

.navbar .dropdown-menu > li > a,
.dropdown-menu {
  background-color: #fff !important;
  color: var(--c-dark-green-color) !important;
  font-family: "Stretch Pro" !important;
}

.navbar-toggler {
  color: transparent;
}

.navbar-toggler svg path,
.navbar-user .nav-item:hover svg path,
.navbar-cart .nav-item:hover svg path {
  transition: 0.3s ease-in-out;
}

.navbar-toggler:hover svg path,
.navbar-user .nav-item:hover svg path,
.navbar-cart .nav-item:hover svg path {
  fill: var(--c-dark-green-color);
}

#CartCount {
  position: absolute;
  top: 2em;
  right: 7.7em;
  font-size: 0.5em;
}

/* animation dropdown */
/* 
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
} 

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
*/
/*  <!--------------------------------- END NAVBAR --------------------------------------------> */

/*  <!--------------------------------- START FAVORITE SECTION --------------------------------------------> */
section {
  width: 100%;
  background-color: var(--c-light-green-color);
}

.text-title {
  font-family: "Stretch Pro";
  color: var(--c-dark-green-color);
}

/*  <!--------------------------------- END FAVORITE SECTION --------------------------------------------> */

/*  <!--------------------------------- START TABLE --------------------------------------------> */
.table-container {
  width: 100%;
  height: 100vh;
}

table {
  font-family: "Manrope";
  color: var(--c-dark-green-color) !important;
  text-transform: uppercase !important;
  border-color: var(--c-light-pink-color) !important;
}

table th {
  color: #5eb39c;
}

.btn {
  background-color: var(--c-dark-green-color) !important;
  font-family: "Stretch Pro";
  text-transform: lowercase;
  color: var(--light-text-color) !important;
}
/*  <!--------------------------------- END TABLE --------------------------------------------> */

/*  <!--------------------------------- START FOOTER --------------------------------------------> */
footer {
  clear: both;
  background-color: var(--c-light-green-color);
  color: var(--c-dark-green-color);
}

.text-footer {
  font-family: "Stretch Pro";
  text-transform: uppercase;
}

.text-footer-middle {
  font-family: "Manrope";
}
/*  <!--------------------------------- END FOOTER --------------------------------------------> */

/*  <!--------------------------------- MEDIA QUERIES --------------------------------------------> */
/* x-large */
@media (min-width: 1200px) {
}

/* large */
@media (min-width: 992px) and (max-width: 1199px) {
  .btn-outline-light {
    border-width: 0.6rem !important;
    border-radius: 40rem !important;
    font-size: 5vw !important;
    padding: 0.2em 0.5em !important;
  }
}

/* medium */
@media (min-width: 768px) and (max-width: 991px) {
  .banner-text h1 {
    font-size: 10vw;
  }

  .first-line {
    font-size: 10.7vw !important;
  }

  .third-line {
    font-size: 7.1vw !important;
  }

  .btn-outline-light {
    border-width: 0.6rem !important;
    border-radius: 40rem !important;
    font-size: 6vw !important;
    padding: 0.2em 0.5em !important;
  }
}

/* small */
@media (min-width: 576px) and (max-width: 767px) {
  .text-footer h5,
  .text-footer-middle p,
  .text-footer ul {
    text-align: start !important;
  }

  .banner-text h1 {
    font-size: 10vw;
  }

  .first-line {
    font-size: 12vw !important;
  }

  .third-line {
    font-size: 7.1vw !important;
  }

  .btn-outline-light {
    border-width: 0.6rem !important;
    border-radius: 40rem !important;
    font-size: 5vw !important;
    padding: 0.2em 0.5em !important;
  }
}

/* x-small */
@media (max-width: 575px) {
  .text-footer h5,
  .text-footer-middle p,
  .text-footer ul {
    text-align: start !important;
  }

  .banner-text h1 {
    font-size: 16vw;
  }

  .first-line {
    font-size: 17.2vw !important;
  }

  .third-line {
    font-size: 11.5vw !important;
  }
  /* 
  
  .navbar .navbar-brand,
  .navbar-nav .navbar-user,
  .navbar-nav .navbar-cart {
    padding: 0 !important;
    margin: 0 !important;
  } */

  /* not yet fixed */
  /* glaxy fold */

  .btn-outline-light {
    border-width: 0.4rem !important;
    border-radius: 40rem !important;
    font-size: 5vw !important;
    padding: 0.2em 0.5em !important;
  }
}
/*  <!--------------------------------- MEDIA QUERIES --------------------------------------------> */

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}